mixin services__cloudData
    h2.services__cloudData-title ПОСЛУГИ ХМАРНОГО ЦОД
    .services__section
        .services__section-box1
            h3.services__section-title Віртуальний дата-центр в хмарі
            p.services__section-subtitle Віртуальний дата-центр - це комплекс віртуальних ресурсів, який дозволяє створити надійну IT-інфраструктуру для вашої компанії. При використанні віртуального дата-центру ви отримуєте повну свободу в побудові будь-яких IT-ландшафтів без зайвих грошових витрат і втрати часу.
            p.services__section-subtitle.services__section-subtitle--second Віртуальний ЦОД, створений на базі платформи VMware / Hyper-V, забезпечить ваш комфорт і безпеку даних вашої компанії. Оренда дата-центру в хмарі включає: - набір віртуальних ресурсів, таких як процесори, пам'ять, місце на диску, мережеві ресурси; - можливість самостійно змінювати «ландшафт» вашого хмарного ЦОД; - можливість розширювати або зменшувати вашу #[br] IT-інфраструктуру за лічені години.
        .services__section-box
            img.services__section1-image(src="./img/logo_colors_gradients-1.jpg", alt="")
    .services__section
        .services__section-box
            img.services__section2-image(src="./img/tdc_2.jpg", alt="")
        .services__section-box.services__section-box--second
            h3.services__section2-title Віртуальний виділений сервер
            p.services__section2-subtitle Віртуальний виділений сервер - це можливість працювати на наданій платформі, створеній на базі гипервизора Vmware/Hyper-V/KVM. Орендуючи частину сервера дата-центру, ви отримуєте повний контроль і управління над вашими віртуальними серверами.
            p.services__section2-subtitle.services__section2-subtitle--2 Це дозволяє:
            p.services__section2-subtitle.services__section2-subtitle--3 -   самостійно створювати віртуальні сервери;
            p.services__section2-subtitle.services__section2-subtitle--3 -   змінювати їх конфігурації;
            p.services__section2-subtitle.services__section2-subtitle--3 -   вмикати / вимикати сервери;
            p.services__section2-subtitle.services__section2-subtitle--3 -   встановлювати на ваші сервери будь-яку ОС;
            p.services__section2-subtitle.services__section2-subtitle--3 -   керувати конфігураціями мережі.
    .services__section
        .services__section-box1
            h3.services__section-title.services__section-title--third Віртуальна СЗД
            p.services__section-subtitle.services__section-subtitle--third Віртуальна СЗД - це можливість розміщувати будь-які масиви інформації. Доступ до них може здійснюватися як через Інтернет, так і за допомогою окремих каналів зв'язку. СГД можливо підключити як для хмарного дата-центру, так і для наземного ЦОД.
            p.services__section-subtitle.services__section-subtitle--third2 Орендуючи дисковий простір, ви отримуєте надійну і доступну інфраструктуру для зберігання ваших даних.
            p.services__section-subtitle.services__section-subtitle--third2 Оплата оренди залежить тільки від фактично використаного вами обсягу на диску. Це дозволяє вам змінювати розміри дискового простору відповідно до ваших отреб.
        .services__section-box
            img.services__section3-image(src="./img/tdc_3.jpg", alt="")
    .services__section
        .services__section-box
            img.services__section4-image(src="./img/logo_colors_gradients-06.jpg", alt="")
        .services__section-box
            h3.services__section-title.services__section-title--forth Backup as a Service
            p.services__section-subtitle.services__section-subtitle--forth Backup as a Service - це послуга резервного відновлення і копіювання інформації, яка забезпечить збереження ваших даних.
            p.services__section-subtitle.services__section-subtitle--forth Як це працює?
            p.services__section-subtitle.services__section-subtitle--forth У захищеній інфраструктурі встановлені сервери зберігання даних і агенти, що забезпечують інтеграцію з віртуальною і / або фізичною інфраструктурою, а також прикладним програмним забезпеченням.
            p.services__section-subtitle.services__section-subtitle--forth Обмін командами і звітами між керуючим сервером і серверами зберігання даних відбувається через Інтернет по захищеному каналу SSL / TLS.
            p.services__section-subtitle.services__section-subtitle--forth Вартість послуги залежить від кількості і типу даних, що захищаються. Оплата відбувається щомісячного, що дає вам можливість змінювати кількість інформації, що зберігається в залежності від ваших потреб.
    .services__section
        .services__section-box1
            h3.services__section-title.services__section-title--fifth Desktop As A Service
            p.services__section-subtitle.services__section-subtitle--fifth Desktop As A Service - це персональна віртуальна робоча станція. Послуга, яка дозволить вам організувати робоче місце в найкоротші терміни без додаткових витрат.
            p.services__section-subtitle.services__section-subtitle--fifth DaaS дозволяє:
            p.services__section-subtitle.services__section-subtitle--fifth2 1. надати вже готове віртуальне робоче місце;
            p.services__section-subtitle.services__section-subtitle--fifth2 2. налаштувати робочу станцію під свої завдання кожному користувачу;
            p.services__section-subtitle.services__section-subtitle--fifth2 3. отримати доступ до всього, необхідного для роботи, програмного комплексу кожному користувачу.
            p.services__section-subtitle.services__section-subtitle--fifth Робота з віртуальною робочої станцією дає можливість надати доступ до повноцінного робочого місця в будь-якій точці світу.
        .services__section-box
            img.services__section5-image(src="./img/tdc_2 (1).jpg", alt="")
    .services__section
        .services__section-box
            img.services__section6-image(src="./img/illustrations-08 1.jpg", alt="")
        .services__section-box.services__section-box--sixth
            h3.services__section2-title.services__section2-title--sixth ЩО ТАКЕ Віртуальний дата-центр в хмарі
            p.services__section2-subtitle.services__section2-subtitle--sixth Самообслуговування на вимогу. Висока еластичність (гнучкість) сервісів. Облік споживання ресурсів і оплата за фактом використання. Технологічність. Відмовостійкість та високий рівень достпності.
