mixin characteristic
    .characteristic
        h2.characteristic__title ТЕХНІЧНІ ХАРАКТЕРИСТИКИ НАШИХ ДАТА-ЦЕНТРІВ
        .characteristic__box
            ul.characteristic__list
                li.characteristic__item Рівень надійності: 
                    b не нижче TIER 3
                li.characteristic__item Потужність: 
                    b 1+1 МВт та більше
                li.characteristic__item Безперебійше живлення : 
                    b 2N
                li.characteristic__item Клімат: 
                    b N+1, з freecooling
                li.characteristic__item Безпека: 
                    b газова система пожежогасіння та системи раннього виявлення, система моніторингу фізичної інфраструктури
            img.characteristic__image(src="./img/tdc_3 (1).jpg", alt="")
        .characteristic__section
            .characteristic__box2.d-flex.align-items-center
                img.characteristic__box2-image1(src="../../../dist/img/tdc_5.jpg", alt="")
                p.characteristic__box2-text.characteristic__box2-text--1 Платформа VMware / Hyper-V / KVM
            .characteristic__box2.d-flex.align-items-center
                img.characteristic__box2-image2(src="../../../dist/img/tdc_4.jpg", alt="")
                p.characteristic__box2-text.characteristic__box2-text--2 Сервісдеск та технічна підтримка 24х7
            .characteristic__box2.d-flex.align-items-center
                img.characteristic__box2-image3(src="../../../dist/img/logo_colors_gradients-06 (1).jpg", alt="")
                p.characteristic__box2-text.characteristic__box2-text--3 Система моніторингу та охорони середовища
            .characteristic__box2.d-flex.align-items-center
                img.characteristic__box2-image4(src="../../../dist/img/logo_colors_gradients-04 (1).jpg", alt="")
                p.characteristic__box2-text.characteristic__box2-text--4 Обладнання компаній А-брендів
        .button.d-flex.justify-content-center
            button.characteristic__btn ЗАМОВИТИ ЗАРАЗ