.header {
  &__wrapper {
    height: 567px;
    background: #242424;
    margin: 0 auto;
    margin-top: -30px;
    padding-top: 30px;
  }
  &__images {
    padding: 0;
    max-width: 1380px;
    width: 100%;
    display: block;
    margin: 0 auto;
    filter: grayscale(100%);
  }
  &__images-adaptive {
    padding: 0;
    width: 100%;
    display: none;
    margin: 0 auto;
    filter: grayscale(100%);
  }
  &__images-adaptive2 {
    padding: 0;
    width: 100%;
    display: none;
    margin: 0 auto;
    filter: grayscale(100%);
  }
}
@media (max-width: 1200px) {
  .header {
    &__images {
      height: 360px;
      padding: 0 15px;
      object-fit: cover;
      display: block;
    }
    &__images-adaptive2 {
      display: none;
    }
    &__wrapper {
      height: 500px;
    }
  }
}
@media (max-width: 992px) {
  .header {
    &__images {
      display: none;
    }
    &__images-adaptive2 {
      height: 360px;
      padding: 0 15px;
      object-fit: fill;
      display: block;
    }
    &__wrapper {
      height: 500px;
    }
  }
}
@media (max-width: 576px) {
  .header {
    &__images {
      height: 100%;
      width: 100%;
      object-fit: fill;
      display: none;
    }
    &__images-adaptive {
      height: 360px;
      padding: 0 15px;
      display: block;
    }
    &__images-adaptive2 {
      display: none;
    }
    &__wrapper {
      height: 500px;
    }
  }
}
